@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../styles/reset.css";

html,
body {
  background-color: #e5b486;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
